# Custom
cmake-build-debug/

# CMake template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# OS
*~
.DS_Store
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable
