# Custom
cmake-build-*/
*.mdb

# CMake template
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# OS
*~
.DS_Store
[Dd]esktop.ini
Thumbs.db
Thumbs.db:encryptable

# CLion
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Visual Studio
.vs/
out/
